---
import Icon from "astro-iconify";
//const { icons } = Astro.props;

// TODO: add all icons and hide unused ones
const icons = [
  { title: "Fastfetch", name: "id-card-rounded" },
  { title: "Terminal", name: "terminal-rounded" },
];
const size = 24;
---

<task-bar>
  <section id="taskbar" class="basis-full border flex justify-center gap-4">
    <div id="iconBar" class="flex gap-4">
      {
        icons.map((icon) => (
          <button id={icon.title}>
            <Icon
              name={`material-symbols:${icon.name}`}
              size={size}
              class="pointer-events-none"
            />
          </button>
        ))
      }
    </div>
    <button id="addTerminal">+</button>
  </section>
</task-bar>

<script>
  import { addTerm } from "./addTerminal";
  import { observeChanges } from "./mutationObserver";

  class Taskbar extends HTMLElement {
    connectedCallback() {
      const main = document.querySelector("main");
      // Add terminal on click
      addTerm(main!);
      // Observe main's childs
      observeChanges(main!);
    }
  }
  customElements.define("task-bar", Taskbar);
</script>
