---
import Layout from "../layouts/Layout.astro";
import Terminal from "../components/Terminal/Terminal.astro";
import Taskbar from "../components/Taskbar/Taskbar.astro";
//TODO: add Terminal (neofetch, tree, pipewire) + style aside(20) main(80)
---

<Layout>
  <main class="flex flex-wrap gap-2">
      <Terminal title="Fastfetch" class="col-span-1 row-span-1"/>
      <Terminal title="Terminal" class="col-span-2 row-span-5"/>
    <article class="flex-1">
      <Taskbar />
    </article>
  </main>
</Layout>
