---
import Layout from "../layouts/Layout.astro";
import Terminal from "../components/Terminal/Terminal.astro";
import Taskbar from "../components/Taskbar/Taskbar.astro";
//TODO: add Terminal (neofetch, tree, pipewire) + style aside(20) main(80)
---

<Layout>
  <aside class="flex flex-col items-stretch content-stretch">
    <Terminal title="Fastfetch" />
  </aside>
  <main class="grow flex flex-col items-stretch content-stretch gap-2">
    <Terminal title="Terminal" class="content-stretch" />
  </main>
</Layout>
