---
import Layout from "../layouts/Layout.astro";
import Terminal from "../components/Terminal/Terminal.astro";
//TODO: add Terminal (neofetch, tree, pipewire) + style aside(20) main(80)
---

<Layout>
  <aside>
	<Terminal title="Neofetch"/>
  </aside>
  <main>
    <Terminal title="Terminal"/>
  </main>
</Layout>
