---
import CommandLine from "./CommandLine.astro";

const title = "Terminal";
---

<div id="terminal" class="border">
  <h1 class="text-center border-b">{title}</h1>

  <CommandLine /> 
</div>

<script>
  const terminal = document.getElementById("terminal")
  const input = document.getElementById("terminalInput");
  input!.addEventListener("keydown", (e) => {
    // Handle user input
    if(e.key === "Enter"){
      e.preventDefault();
      console.log("ok")
    }
  });
</script>
