---
import CommandLine from "./CommandLine.astro";
const {title, flex, height} = Astro.props;
---

  <div id={title} class=`border min-h-72`>
    <h1 class="text-center border-b">{title}</h1>
    <CommandLine id="0"/>
  </div>