---
const title = "Terminal"
import CommandLine from "./CommandLine.astro"
//TODO: add minimize maximaze and closing buttons 
---
<div id={title} class="border min-h-64">
    <h2 class="text-center border-b">{title}</h2>
    <CommandLine />
</div>