---
export const prerender = false;
const title = "Terminal";
import CommandLine from "./CommandLine.astro";
---

<terminal-container>
  <div id={title} class="border">
    <h1 class="text-center border-b">{title}</h1>
    <CommandLine id="0"/>
  </div>
</terminal-container>