---
import Taskbar from "../components/Taskbar/Taskbar.astro";
const year = new Date().getFullYear();
---

<footer class="w-full bottom-0">
  <Taskbar />
  <p class="text-xs m-auto w-fit left-0 right-0">Thang {year}</p>
</footer>
