---
import { Icon } from "astro-iconify";
//TODO: mobile styling
---

<header class="relative flex justify-between item-center border">
  <div class="flex">
    <a href="/" class="text-center w-4 border">1</a>
    <a href="/gui" class="text-center w-4 border">2</a>
  </div>

  <a href="/" class="absolute w-fit m-auto left-0 right-0">
    <h1>Thang</h1>
  </a>

  <div class="flex">
    <span class="flex items-center">
      <Icon name="material-symbols:no-sound-rounded" size={18} />
    </span>
    <span class="flex items-center">
      <Icon
        name="material-symbols:nest-clock-farsight-analog-outline-rounded"
        size={18}
      />
      <span id="time"></span>
    </span>
    <span class="flex items-center">
      <Icon name="material-symbols:calendar-month-rounded" size={18} />
      <span id="date"></span>
    </span>
</div>
</header>

<script src="/src/utils/time"></script>
