---
import { Icon } from "astro-icon/components";
---

<header class="border border">
  <a href="/thang">
    <h1>Thang</h1>
  </a>
  <span id="date"></span>
  <span id="time"></span>
  <Icon name="iconoir:sound-low-solid" />
</header>

<script src="/src/utils/time.ts" />