---
import "../styles/global.css";
// import font
---

<style>
  html {
    height: 100%;
  }

  body {
    position: relative;
    box-sizing: border-box;
    font-family: var(--text-font);
    color: var(--font-color);
    background: radial-gradient(circle 4px, var(--dark-neutral), var(--neutral))
      round;
    background-size: 48px 48px;
    background-position: 24px 24px;
  }
</style>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/quaeres/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="refresh" />
    <meta name="generator" content={Astro.generator} />
    <title>Quaeres</title>
    <base href={import.meta.env.BASE_URL} />
  </head>
  <body class="no-spacing">
    <main class="m-padding"></main>
    <slot />
  </body>
</html>
