---
import Icon from "astro-iconify";
const { title } = Astro.props;
---

<div id={title} class="border min-h-64">
  <div class="text-center border-b relative">
    <h2>{title}</h2>
    <span class="absolute top-0 right-0 h-full flex items-center gap-1">
      <button type="button">
        <Icon name="material-symbols:minimize-rounded" size={18} />
      </button>
      <button type="button">
        <Icon name="material-symbols:square-outline-rounded" size={18} />
      </button>
      <button type="button">
        <Icon name="material-symbols:close-rounded" size={18} />
      </button>
    </span>
  </div>
  <slot />
</div>

<script></script>
